<!DOCTYPE html>
<html ng-app="amagiApp">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CDN Links -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://use.fontawesome.com/01730a75ee.js"></script>
  <!--  CSS LIBS -->
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  <!--  App Level Styles -->
  <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-controller="mainCtrl">
  <!-- 
      Navigation Box
     -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">{{companyName}}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!--
        Main Area 
  -->
  <section id="main-area" class="container" ng-controller="videoAppenderCtrl">
    <!-- Header -->
    <header>
      <div class="row">
        <div class="col-md-5">
          <h1 class="page-header text-uppercase">
            ALL Videos
          </h1>
        </div>
        <div class="col-md-7">
          <form action="" class="form-inline pull-right">
            <div class="form-group">
              <label for="search_inside_obj"> Search Available Videos </label>
              <input type="text" class="form-control" ng-model="search_avail_obj">
            </div>
          </form>
        </div>
      </div>


    </header>

    <section id="video-appender">
      <div class="row">
        <div class="spinner" ng-show="loading">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom"></i>
        </div>
        <!--<h1>{{mainVar}}</h1>
        <h2>{{videoAppenderText}}</h2> -->
        <!-- For looper Article-->
        <article class="video-card-wrp col-md-4" ng-repeat="aVideo in loadedVideoArray | filter : search_avail_obj">
          <div class="vid-card">
            <header ng-style="{'background-image':'url({{aVideo.thumbnail_path}})'}">
              some big bg image will come
            </header>
            <section class="vid-icon">

            </section>
            <main class="well">
              <p class="lead">
                {{aVideo.brand_name}}
              </p>

            </main>
            <footer>

            </footer>

          </div>
        </article>
      </div>

      <div class="row load-more-videos clearfix" style="margin-bottom: 50px;">
        <div class="col-md-offset-4 col-md-4 text-center">
          <button class="btn btn-block btn-warning" ng-click="loadMoreVid()" ng-disabled="loadMoreBtn.status">
            {{loadMoreBtn.text}}
          </button>
        </div>
      </div>

    </section>
  </section>

  <!--
        Footer Area
    -->
  <footer>

  </footer>

  <script src="./node_modules/angular/angular.min.js"></script>
  <script src="scripts/main.js"></script>
  <script src="./scripts/config.js"></script>
  <script src="scripts/controllers.js"></script>
  <script src="./scripts/services.js"></script>
</body>

</html>